nav {
  background-color: #59207a;
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 10px 20px;
  margin-bottom: 2rem;
}

.nav-item {
  color: white;
}

.nav-item:hover {
  color: #ccc;
}

.nav-item.active {
  color: #ccc;
}